<ng-container [formGroup]="form">
	<p>What type of console are you using?</p>

	<label for="consoleTypeDS">DS-like</label>
	<input id="consoleTypeDS" type="radio" name="consoleType" value="DS" formControlName="consoleType" />

	<label for="consoleType3DS">3DS-like</label>
	<input id="consoleType3DS" type="radio" name="consoleType" value="3DS" formControlName="consoleType" />

	<p>What game version are you using?</p>

	<label for="gameVersionUSA" class="notranslate">USA</label>
	<input id="gameVersionUSA" type="radio" name="gameVersion" value="USA" formControlName="gameVersion" />

	<label for="gameVersionEUR" class="notranslate">EUR</label>
	<input id="gameVersionEUR" type="radio" name="gameVersion" value="EUR" formControlName="gameVersion" />

	<label for="gameVersionJPN" class="notranslate">JPN</label>
	<input id="gameVersionJPN" type="radio" name="gameVersion" value="JPN" formControlName="gameVersion" />

	<label for="gameVersionOther">Other / Unknown</label>
	<input id="gameVersionOther" type="radio" name="gameVersion" value="Other" formControlName="gameVersion" />
</ng-container>

<p>
	DS-like consoles include DSi, DS Lite, DS XL versions, and DS emulators.<br />
	3DS-like consoles include 2DS, XL versions, and 3DS emulators.<br />
	Nintendo Virtual Console is not supported.
</p>
