/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

code {
	color: #e01a76;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
	border-width: 2px;
	margin: 0.5em 0.5em;
	padding: 0.4em 0.44em 0.4em 0.4em;
}
.btn-primary:disabled {
	background-color: #b0cfdf;
	border-width: 0;
}

input[type=radio] {
	margin-right: 0.9em;
}

label {
	margin: 0.4em;
}

p {
	margin: 1em 0;
}
p.reducedMargin {
	margin: 0.5em 0;
}

input.ng-invalid.ng-touched {
	outline: 2px solid red;
}

.fine-print {
	font-size: 0.8em;
}

.tileImage {
	aspect-ratio: 1 / 1;
	height: auto; /* Either height or width must stay auto or aspect-ratio will not take effect. I chose height to be auto because tile-display-component sets max-width. */
	width: 3rem;
}
.tileHeight {
	height: min(3rem, 5.6vw);
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

app-tile-display {
	display: block;
}

.tileWithLetter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tileLetters {
	display: flex;
}

.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-top: 4px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.inline {
	display: inline-block;
}
