<p>What is your console's MAC address?</p>

<ng-container [formGroup]="form">
	<label for="macInput">MAC address</label>
	<input id="macInput" type="text" placeholder="MAC" formControlName="mac" />
</ng-container>

<p>
	You can obtain your console's MAC address by looking at the console's internet settings or Nintendo WFC settings.<br />
	Internet settings are not available on the original DS, aka DS phat, or DS Lite.<br />
	Nintendo WFC (Wi-Fi Connection) settings are available in certain games. Mario Kart DS is one. New Super Mario Bros. DS is not.
</p>
