<ng-container [formGroup]="inputsForm">
	<label for="macInput">MAC Address</label>
	<input id="macInput" placeholder="MAC Address" name="mac" formControlName="macInput" (change)="macChanged()" />

	<label for="consoleTypeDS">DS-like</label>
	<input id="consoleTypeDS" type="radio" name="consoleType" value="DS" formControlName="consoleType" />

	<label for="consoleType3DS">3DS-like</label>
	<input id="consoleType3DS" type="radio" name="consoleType" value="3DS" formControlName="consoleType" />

	<br />
	<label for="dtInput">Date + Time: </label>
	<input id="dtInput" type="datetime-local" min="2000-01-01" max="2099-12-31 23:59:59" step="1" formControlName="dtInput" />

	<br />
	<label for="row1Input">First row</label>
	<input id="row1Input" placeholder="first row tiles (7)" formControlName="row1Input" />


	<label for="row2Input">Second row</label>
	<input id="row2Input" placeholder="second row tiles (11)" formControlName="row2Input" />

	<app-tile-display [tileCount]="7" [tiles]="this.inputsForm.value.row1Input"></app-tile-display>
	<app-tile-display [tileCount]="11" [tiles]="this.inputsForm.value.row2Input"></app-tile-display>

	<button class="btn-primary" (click)="formSubmit()">Find Seed Info</button>
</ng-container>

