<p>
	Now to collect RNG data. This comes in the form of tile patterns.
	You will need a saved file in the game before doing this.
</p>
<p>
	Set your console's time to<span class="notranslate"> {{ dateToTime(date) }} </span>and load the game as in step 3, making sure RNG is initialized at<span class="notranslate"> {{ targetDateTime }}</span>.*<br />
	Then, load your saved file. This must be done BEFORE the intro cutscene begins playing.**<br />
	Go to world 1-2 and enter the level. Pause the game while the top row of tiles is still on-screen.<br />
	Your tile pattern is the first 7 inner tiles in the topmost row plus all 11 visible inner tiles in the second row.<br />
	You'll need to do this several times, entering the tile pattern each time. We'll let you know once it's enough.<br />
	Each time you do this, the time you need to set will decrease by 1 minute.
</p>
<p>
	Each tile has been given a name, and they can be represented with the first letter of their name.<br />
	The names are: Bean, Cloud, Empty, Islands, Porkchop, Submarine<br />
	See below for an example and then each letter with its associated tile.
</p>
<p>Example: The following image shows the tile pattern "icbpbei" and "psbibcbpsbi", and the bottom row is "bieeceeeppc".</p>
<img class="example" src="assets/exampleTilePattern.jpg" alt="An example picture of 1-2" />
<br />
<p>Here are the letters for each tile. You can type or click the tile images below to input your pattern.</p>
<app-clickable-tiles (tileClicked)="tileClick($event)"></app-clickable-tiles>
<br />

<p>Current time to set:<span class="notranslate"> {{ dateToTime(date) }}</span></p>
<app-full-pattern-input id="patternInput"></app-full-pattern-input>
<br />


<button class="btn-primary" type="button" (click)="submit()">Submit</button>
<p>Patterns submitted:<span class="notranslate"> {{ submitCount }}</span></p>

<p class="fine-print">
	*The app should be able to detect if you're off by one second most of the time, but it will be less reliable with more mistakes. If you load the game and are not confident RNG was initialized at the correct time, try again before getting a tile pattern.<br />
	**If you've left the game running on the title screen long enough for the cutscene to play, reset the system clock and reload the game.
</p>
