<h1>Manipulate Random Numbers in NSMB</h1>
<p>This web app is intended to aid in manipulating random number generation (RNG) in New Super Mario Bros. (NSMB) on DS-like and 3DS-like consoles. This will allow:</p>
<ul>
	<li>Set up only once per gaming session. After that, just go back to main menu and start a new game.</li>
	<li>Always have red ? blocks move to the right in W8.</li>
	<li>Always get a blue shell powerup in 1-2 (requires controlling double jumps in 1-1).</li>
	<li>Have a greatly increased chance of getting a mini mushroom in 5-Ghost (advanced strategy only for the very best players).</li>
</ul>
<p>If you're familiar with how this works, you can jump right in <a [routerLink]="['/all']">here</a>.</p>
<p>If you want step by step instructions, go <a [routerLink]="['/start']">here</a>.</p>
<p>Alternatively, you can download an older version as a Windows app from the <a href="https://github.com/SuuperW/NSMB_RNG/tree/Release">GitHub</a> page.</p>
