<h1>Manipulate Random Numbers in NSMB</h1>
<p>This web app is intended to aid in manipulating random number generation (RNG) in New Super Mario Bros. (NSMB) on DS-like and 3DS-like consoles. This will allow:</p>
<ul>
	<li>Set up only once per gaming session. After that, just go back to main menu and start a new game.</li>
	<li>Always have red ? blocks move to the left in W8.</li>
	<li>Always get a blue shell powerup in 1-2 (requires controlling double jumps in 1-1).</li>
	<li>Have a greatly increased chance of getting a mini mushroom in 5-Ghost (advanced strategy only for top-level players).</li>
</ul>
<p>Get started setting up <a [routerLink]="['/guide']">here</a>. You can view video instructions for using this website <a href="https://youtu.be/4XJ8dgqii10" target="_blank">here</a>.</p>
<p>Alternatively, you can download an older version as a Windows app from the <a href="https://github.com/SuuperW/NSMB_RNG/tree/Release">GitHub</a> page.</p>
<p>If you already got it set up before and just need a reminder about what time you used, or want to review instructions for in-run strategies, go <a [routerLink]="['/in-run']">here</a>.</p>
