<h2>What you need before using this app</h2>

<p>
	The first thing you'll need is a Nintendo DS or 3DS console, or one of their variants.*<br />
	If you have an original Nintendo DS, you will also need a game that lets you see your console's MAC address. Mario Kart DS is a common one.<br />
	Also, ensure there is not a game cartridge in the GBA slot.<br />
	Nintendo DS emulators are likely to work, but are not officially supported.<br />
	Nintendo's Virtual Console (for example, playing on a Wii U) is not an emulator and will not work.**<br />
	<br />
	The second thing you'll need is a Nintendo game cartridge for New Super Mario Bros.<br />
	Playing on an unofficial cartridge or with a downloaded copy will most likely not work, since they behave differently.***<br />
	<br />
	You should also have a stopwatch with a precision of tenths of a second or better.<br />
	You probably already have an app for this on your smartphone. It may be a feature of the clock app.
</p>

<p class="fine-print">
	*Examples inclulde DS Lite, DSi, 3DS, 2DS, New 3DS, and XL versions.<br />
	**Specifically, the Virtual Console does not emulate the DS' clock. This means it is impossible to manipulate RNG by changing the system clock, which is the method we rely on.<br />
	***While these technically could be supported, there is no plan to do so. They are very inconsistent and getting them to work could easily take days of computation time plus manual trial and error.
</p>
