<p>Your RNG initialization time is<span class="notranslate"> {{ manipDatetime }}</span>.</p>
<p>
	This step is similar to previous one, in that you will get tile patterns.<br />
	However, you will no longer be changing the time for each pattern. (You should still set the time before each pattern; it will just be the same time for every pattern.)<br />
	Instead, you will use the date and time specified below. This time should be able to give you the correct RNG.<br />
	We'll tell you if RNG is correct when you submit. If it takes multiple tries to get the right RNG, that is OK and normal.<br />
	Once you have the right pattern, do not turn off the game. You will keep good RNG as long as the game stays on.
</p>

<p>Set your console's clock and load the game so that RNG is initialized at<span class="notranslate"> {{ manipDatetime }}</span>.</p>

<app-clickable-tiles [hidden]="!datetimeCalculated" (tileClicked)="tileClick($event)" (backspaceClicked)="backspace()"></app-clickable-tiles>
<br />
<app-full-pattern-input id="patternInput" [hidden]="!datetimeCalculated"></app-full-pattern-input>
<p [hidden]="!feedback">{{ feedback }}</p>

<button class="btn-primary" type="button" [hidden]="!datetimeCalculated" (click)="submit()">Submit</button>
<br />

<div [hidden]="!this.isGood">
	<p>
		You're all set to begin speedrun attempts!<br />
		Go to the game's main menu and start a new game. You won't need to set the clock again until you close the game.<br />
		Notice how most tiles are the same, and the pattern repeats; it should be easy to check for this pattern in the future without coming back here.<br />
		Review instructions for how to manipulate RNG during attempts <a [routerLink]="['/in-run']">here</a>.
	</p>
</div>

<div [hidden]="!this.newParams">
	<p>We have a new date and time that might be more likely to give the correct RNG and tile pattern.</p>
	<button class="btn-primary" type="button" (click)="useNewParams()">Use new time</button>
</div>
