<p>
	Do you want RNG optimized for the normal any% route, or for mini route?<br />
	Normal is recommended for most players.<br />
	Mini route is an advanced strategy where you use a mini mushroom in 5-Ghost House.<br />
	Mini route RNG might also be good for some other categories.
</p>

<ng-container [formGroup]="form" >
	<label for="routeNormal">Normal route</label>
	<input id="routeNormal" type="radio" name="route" value="normal" formControlName="route" />

	<label for="routeMini">Mini route</label>
	<input id="routeMini" type="radio" name="route" value="mini" formControlName="route" />
</ng-container>
