<p>Your RNG initialization time is {{ manipDatetime }}.</p>
<p>
	Set your console's clock and load the game so that RNG is initialized at {{ manipDatetime }}.<br />
	Then go to 1-2 and get the tile pattern. When you enter the first row, the second row will automatically be shown.
	If you don't get the right pattern the first time, that's OK and normal. We'll tell you if you got it.
</p>

<ng-container [formGroup]="form">
	<label for="row1Input">First row</label>
	<input id="row1Input" placeholder="first row tiles (7)" formControlName="row1Input" />

	<app-tile-display [tileCount]="7" [tiles]="this.form.value.row1Input" (tilesOut)="row1Changed($event)"></app-tile-display>
	<app-tile-display [tileCount]="11" [tiles]="this.row2"></app-tile-display>
</ng-container>

<p>{{ feedback }}</p>

<div [hidden]="!this.isGood">
	<p>
		You're all set to begin speedrun attempts!<br />
		Go to the game's main menu and start a new game. You won't need to set the clock again until you close the game.<br />
		Review instructions for how to manipulate RNG during attempts <a [routerLink]="['/in-run']">here</a>.
	</p>
</div>

<div [hidden]="this.retrySeed == -1">
	<p>Did you get this pattern 3+ times?</p>
	<button class="btn-primary" (click)="this.offerRetry = true">Yes</button>
	<div [hidden]="!this.offerRetry">
		<p>
			Each pattern is associated with some RNG params. The RNG params used to calculate RNG initialization time came from the patterns you entered in a previous step.<br />
			Since this pattern is apparently more common, it may be helpful to calculate a new RNG initialization time using these RNG params instead.<br />
			This may help you get the right pattern if you're having trouble getting it with the current time.
		</p>
		<button id="newtime" class="btn-primary" (click)="calculateNewTime()">Get new time</button>
	</div>
</div>
