.tileWithLetter {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tileLetters {
	display: flex;
}

.warning {
	font-weight: bold;
	font-size: 1.2em;
}

.example {
	max-height: 22em;
	max-width: 100%;
}
