<h3>In-run RNG manip strategies</h3>
<p>
	At this point you should have the game running with a good RNG state.
	The random number generator will continue to cycle through just 8 states. As long as you don't turn the game off, RNG will remain good.
</p>

<h3>If you are using the normal route:</h3>
<p>
	While playing 1-1, do 0, 2, 3, or 8 double jumps. This should guarantee a blue shell in 1-2.<br />
	That's it!<br />
	If you miss a double jump in 1-1, you sill have a high chance of getting a blue shell but it will be random.
</p>

<br />
<h3>If you are using the mini route:</h3>
<p>
	Coming soon.
</p>
