<div class="tileLetters">
	<div class="tileWithLetter">B <img src="assets/tileB.png" alt="Bean tile" class="tileImage" (click)="tileClick('b')" /></div>
	<div class="tileWithLetter">C <img src="assets/tileC.png" alt="Cloud tile" class="tileImage" (click)="tileClick('c')" /></div>
	<div class="tileWithLetter">E <img src="assets/tileE.png" alt="Empty tile" class="tileImage" (click)="tileClick('e')" /></div>
	<div class="tileWithLetter">I <img src="assets/tileI.png" alt="Islands tile" class="tileImage" (click)="tileClick('i')" /></div>
	<div class="tileWithLetter">P <img src="assets/tileP.png" alt="Porkchop tile" class="tileImage" (click)="tileClick('p')" /></div>
	<div class="tileWithLetter">S <img src="assets/tileS.png" alt="Submarine tile" class="tileImage" (click)="tileClick('s')" /></div>
</div>